.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  flex-wrap: wrap;
  z-index: 1;
  padding-bottom: 2%;
}

.container .card {
  position: relative;
  width: 280px;
  height: 400px;
  margin: 30px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: #f0bc1d;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

.container .card .contents {
  padding: 20px;
  text-align: center;
  transform: translateY(100px);
  opacity: 1;
  transition: 0.5s;
}

.container .card .contents .first .imgBx {
  position: relative;
  width: 250px;
  height: 250px;
  /* border-radius: 50%; */
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  margin: 20px auto;
}

.container .card .contents .first .imgBx img {
  /* border-radius: 50%; */
  /* position: absolute; */
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}

.container .card:hover .contents {
  transform: translateY(0px);
  opacity: 1;
}

.container .card .contents .price {
  position: absolute;
  top: -50px;
  right: 30px;
  font-size: 3em;
  color: black;
  pointer-events: none;
}

.container .card .contents h3 {
  font-size: 1.3em;
  color: #000;
  z-index: 1;
}

.container .card .contents p {
  font-size: 1em;
  color: #000;
  font-weight: 300;
}

.btn {
  width: 200px;
  color: #000;
}
.container .card .contents .first {
  position: relative;
  top: -100px;
  left: 0;
  display: block;
}

.container .card:hover .contents .first {
  display: none;
}

.container .card .contents .second {
  display: none;
}

.container .card:hover .contents .second {
  display: block;
}

/* Animations for button */

@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css);
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

.jumbotron h1 {
  color: #353535;
}
footer {
  margin-bottom: 0 !important;
  margin-top: 80px;
}
footer p {
  margin: 0;
  padding: 0;
}
span.icon {
  margin: 0 5px;
  color: #d64541;
}
h2 {
  color: #bdc3c7;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.mrng-60-top {
  margin-top: 60px;
}
/* Global Button Styles */
a.animated-button:link,
a.animated-button:visited {
  position: relative;
  display: block;
  margin: 30px auto 0;
  padding: 14px 15px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: 0.08em;
  border-radius: 10px;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
a.animated-button:link:after,
a.animated-button:visited:after {
  content: "";
  position: absolute;
  height: 0%;
  left: 50%;
  top: 50%;
  width: 150%;
  z-index: -1;
  -webkit-transition: all 0.75s ease 0s;
  -moz-transition: all 0.75s ease 0s;
  -o-transition: all 0.75s ease 0s;
  transition: all 0.75s ease 0s;
}
a.animated-button:link:hover,
a.animated-button:visited:hover {
  color: #fff;
  text-shadow: none;
}
a.animated-button:link:hover:after,
a.animated-button:visited:hover:after {
  height: 450%;
}
a.animated-button:link,
a.animated-button:visited {
  position: relative;
  display: block;
  margin: 30px auto 0;
  padding: 14px 15px;
  color: #fff;
  font-size: 14px;
  border-radius: 10px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: 0.08em;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

a.animated-button.thar-three {
  color: rgb(10, 10, 10);
  cursor: pointer;
  display: block;
  position: relative;
  border: 2px solid black;
  transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
  border-radius: 10px;
}
a.animated-button.thar-three:hover {
  color: #f0bc1d !important;
  background-color: transparent;
  text-shadow: nthree;
}
a.animated-button.thar-three:hover:before {
  left: 0%;
  right: auto;
  width: 100%;
}
a.animated-button.thar-three:before {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 0px;
  z-index: -1;
  content: "";
  color: #f0bc1d !important;
  background: black;
  transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}
