.h2-title {
  color: #f0bc1d;
}
.cont-bg {
  background-image: url("../Home/images/_hvd1304_1.webp") !important;
  background-position: center;
  background-size: cover;
  margin-top: 9rem;
  padding: 5%;
}
iframe {
  width: 100%;
  height: 60vh;
  box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.2),
    0 16px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 3;
}
.contact-content {
  color: whitesmoke;
}
iframe:hover {
  z-index: 5;
}

.cont {
  margin: 3%;
  align-items: center;
  margin-top: 40px;
}

#con-card {
  align-items: baseline;
  width: 100%;
  height: 40vh;
  padding: 5%;
  border-radius: 20px 0 20px 0;
  background: rgba(255, 255, 255, 0.15);
  margin-right: 10%;
  margin-bottom: 50px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

#con-card:hover {
  background-color: rgba(112, 107, 108, 0.212);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
  z-index: 10;
}
.directors,
.address {
  text-align: center;

  /* z-index: 1; */
}

.social-icons {
  position: relative;
  top: 20px;
  right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icons li {
  list-style: none;
}

.social-icons li a {
  display: inline-block;
  margin-left: 15px;
  background-color: #222;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: 0.2% ease-in-out;
}

.social-icons li a:hover {
  background-color: #f0bc1d;
  transform: translateY(-10px);
}

.social-icons li a img {
  filter: invert(1);
  transform: scale(0.5);
}

@media only screen and (max-width: 600px) {
  #con-card {
    padding: 5%;
    height: 100%;
  }
}

@media (max-width: 991px) {
  .cont-bg {
    margin-top: 7rem;
  }
}
