.parent1 {
  background-color: #f0bc1d;
  margin-top: 3rem;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5%;
}

.parent-title {
  color: white;
  z-index: 5;
  margin-top: 12rem;
  text-align: center;
}
.child-content {
  width: 400px;
  margin-right: 12%;
  text-align: justify;
}
.about1-title {
  color: black;
  margin-bottom: 16px;
  text-align: center;
}

#side-image1 {
  width: 500px;
  box-shadow: 10px 11px 44px -10px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 10px 11px 44px -10px rgba(0, 0, 0, 1);
  -moz-box-shadow: 10px 11px 44px -10px rgba(0, 0, 0, 1);
}
#side-image2 {
  width: 500px;
  box-shadow: 10px 11px 44px -10px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 10px 11px 44px -10px rgba(0, 0, 0, 1);
  -moz-box-shadow: 10px 11px 44px -10px rgba(0, 0, 0, 1);
}

.child2-content {
  width: 400px;
  margin-left: 12%;
  text-align: justify;
}

.about2-title {
  color: black;
  margin-bottom: 16px;
  text-align: center;
}

@media (max-width: 991px) {
  .parent1 {
    flex-direction: column;
  }
  .child-content {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }

  .child2-content {
    width: 100%;
    margin-left: 0;
    margin-top: 30px;
  }
  #side-image1 {
    width: 300px;
  }
  #side-image2 {
    width: 300px;
  }
}
