@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;500&display=swap");

* {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  background-color: black;
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #f0bc1d);
  border-radius: 10px;
}
